* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

/* NavBars */
.up {
  width: 100%;
  height: 66px;
  background-color: #1F1F1F;
}
.down {
  width: 100%;
  height: 49px;
  background-color: #2E2E2E;
}

/* List of down properties */
.up_ul {
  list-style-type: none;
  margin-top: 0;
  margin-left: 200px;
  padding: 0;
  overflow: hidden;
}
.up_ul li {
  float: left;
  height: 66px;
}
.bar {
  background-color: orange;
  width: 0;
  height: 5px;
  margin-top: 12px;
  border-radius: 15px;
  -webkit-transition: width .65s ease-in-out;
  transition: width .65s ease-in-out;
}
.logo {
  position: absolute;
  margin-top: 25px;
  margin-left: 2%;
  height: 60px;
  width: 60px;
}
.up_ul li a {
  font-size: 16px;
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  height: 60px;
  background-color: #1F1F1F;
}
.up_ul li a:focus {
  background-color: #2E2E2E;
}
.up_ul li a:hover .bar {
  width: 100px;
}
.up_ul li a:focus .bar {
  width: 100px;
}

.down_ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.down_ul li {
  font-size: 14px;
  color: aqua;
  margin-top: 11.5px;
  font-weight: bold;
  margin-left: 1.2%;
  margin-right: 1.2%;
}


/* List of down colors */
#react {
  color: #00D8FF;
}
#vue {
  color: #49D091;
}
#angular {
  color: #E03237;
}
#javascript {
  color: #BCAC39;
}
#node {
  color: #33A956;
}
#laravel {
  color: #FF8682;
}
#css {
  color: #2CA9E1;
}
#vs-code {
  color: #A5D8FA;
}
#python {
  color: #FDD22D;
}

/* Hover Effect on all elements */
#react:hover, #vue:hover, #angular:hover, #javascript:hover,
#node:hover, #laravel:hover, #css:hover, #vs-code:hover, #python:hover {
  color: #FFFF;
  text-decoration: white underline;
}
