@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background: hsl(216, 17.2%, 88.6%);
}

/* TODO: Change name of CSS Property and scope it to layout component only */
.newMorph:hover {
  /* Add Animation */
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: -10px -10px 20px #b3b6bb, 10px 10px 20px #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: hsl(120, 1.9%, 13.4%);
  }
} */
